version: '{branch}-{build}'

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      JAVA_HOME: C:\Program Files\Java\jdk1.8.0

build_script:
  - cmd: mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
test_script:
  - cmd: mvn test verify -B

cache:
  - '%USERPROFILE%\.m2'
